<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mikespider.springbootMagic.mapper">
	<resultMap type="com.mikespider.springbootMagic.entity.Url"
		id="UrlResultMap">
		<result property="name" column="name"/>
		<result property="type" column="type"/>
	</resultMap>
	<select id="selectAll" resultMap="UrlResultMap">
		SELECT * FROM url;
	</select>
</mapper>